body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    width: calc(10% - 2px);
    height: calc(10% - 2px);
    display: flex;
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
}

.X {
    background-color: #ee99ee;
}
.Y {
    background-color: #ee00ee;
}