body {
    background-color: #000;
}

.wrap {
    position: fixed;
    top: 2.5%;
    left: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    display: flex;
    border: 1px solid #fff;
    justify-content: center;
    align-items: center;
}

.X {
    background-color: cyan;
}

.O {
    background-color: pink;
}